.ui.header .mega-octicon{
  line-height: 32px;
  color: gainsboro;
}

.ui.comments.feedback {
  max-width: none;
}

#scoreChart {
  height: 200px;
  margin-bottom: 4em;
  margin-top: 2em;
}

// Parallel coordinates
