
.page-head {
  font-size: 20px;
  padding-bottom: 23px;
  border-bottom: 1px solid @gray-light;

  .mega-octicon{
    line-height: 32px;
    color: @gray-light;
  }
}

#scoreChart {
  height: 200px;
  margin-bottom: 2em;
  margin-top: 2em;
}