@import modules.CustomGitHubProvider
@import _root_.forms.FeedbackForm.Data

@(gitHubProvider: CustomGitHubProvider, user: Option[models.User])(owner: String, repository:String,form: Form[Data])(implicit request: RequestHeader, messages: Messages)

@main("GitRank - "+owner+"/"+repository+ " Feedback form !", gitHubProvider, user) {
    <div class="ui container">


        <h2 class="ui repository header">
            <i class="mega-octicon octicon-repo"></i>
            <div class="content">
                <a href="https://github.com/@owner">@owner</a>/<a href="https://github.com/@owner/@repository">@repository</a>
            </div>
        </h2>

        <h3 class="ui dividing header ">Feedback</h3>
        <form class="ui form">
            <div class="three fields">
                <div class="field">
                    <label><i class="book icon"></i> Documentation</label>
                    <div class="ui rating" data-max-rating="5"></div>
                </div>
                <div class="field">
                    <label><i class="icon leaf"></i>Maturity</label>
                    <div class="ui rating" data-max-rating="5"></div>
                </div>
                <div class="field">
                    <label><i class="icon university"></i>Design</label>
                    <div class="ui rating" data-max-rating="5"></div>
                </div>
                <div class="field">
                    <label><i class="icon life ring"></i>Support</label>
                    <div class="ui rating" data-max-rating="5"></div>
                </div>
            </div>

            <div class="field">
                <label>Feedback</label>
                <textarea></textarea>
            </div>

            <div class="fluid ui positive submit labeled icon button">
                <i class="icon plus"></i> Give Feedback
            </div>
        </form>
        @helper.form(action = routes.ApplicationController.giveScorePage(owner,repository), 'class -> "ui form") {
            @helper.CSRF.formField
            @helper.inputText(form("scoreDocumentation"))
            @helper.inputText(form("scoreMaturity"))
            @helper.inputText(form("scoreDesign"))
            @helper.inputText(form("scoreSupport"))
            @helper.inputText(form("feedback"))
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit"/>
                </div>
            </div>
        }
    </div>
}