@import modules.CustomGitHubProvider
@import _root_.forms.FeedbackForm.Data

@(gitHubProvider: CustomGitHubProvider, user: Option[models.User])(owner: String, repository: String, form: Form[Data], permission: Boolean)(implicit request: RequestHeader, messages: Messages)

@main("GitRank - " + owner + "/" + repository + " Feedback form !", gitHubProvider, user) {
    <div class="ui container">

        <h2 class="ui repository header">
            <i class="mega-octicon octicon-repo"></i>
            <div class="content">
                <a href="https://github.com/@owner">@owner</a>
                /<a href="https://github.com/@owner/@repository">@repository</a>
            </div>
        </h2>

        <h3 class="ui dividing header ">Feedback</h3>
        @helper.form(action = routes.ApplicationController.giveScorePage(owner, repository), 'class -> "ui form") {
            @helper.CSRF.formField

            @if(user.isEmpty) {
                <div class="ui active dimmer">
                    <div class="content">
                        <div class="center">
                            <h2 class="ui inverted header">
                                You need to be login to add some feedback
                            </h2>
                            <a href="@routes.SocialAuthController.authenticate(gitHubProvider.id)" class="ui primary button">
                                <span class="octicon octicon-mark-github"></span>
                                Login
                            </a>
                        </div>
                    </div>
                </div>
            }
            <div class="three fields">
                <div class="field">
                    <label><i class="book icon"></i> Documentation</label>
                    <div class="ui rating" id="docScore" data-max-rating="5"></div>
                    @helper.inputText(form("scoreDocumentation"), '_label -> "", 'value -> "0", 'hidden -> "hidden", '_showConstraints -> false)

                </div>
                <div class="field">
                    <label><i class="icon leaf"></i>Maturity</label>
                    <div class="ui rating" id="matScore" data-max-rating="5"></div>
                    @helper.inputText(form("scoreMaturity"), '_label -> "", 'hidden -> "hidden", '_showConstraints -> false)

                </div>
                <div class="field">
                    <label><i class="icon university"></i>Design</label>
                    <div class="ui rating" id="desScore" data-max-rating="5"></div>
                    @helper.inputText(form("scoreDesign"), '_label -> "", 'hidden -> "hidden", '_showConstraints -> false)

                </div>
                <div class="field">
                    <label><i class="icon life ring"></i>Support</label>
                    <div class="ui rating" id="supScore" data-max-rating="5"></div>
                    @helper.inputText(form("scoreSupport"), '_label -> "", 'hidden -> "hidden", '_showConstraints -> false)

                </div>
            </div>
            <div class="field">
                <label>Feedback</label>
                @helper.textarea(form("feedback"), '_label -> "", '_showConstraints -> false)
            </div>
            <button id="submit" type="submit" value="submit" class="fluid ui positive submit labeled icon button">
            @if(permission) {

                <i class="icon plus"></i> Give Feedback
            } else {
                <i class="icon plus"></i> Update Feedback
            }
            </button>
        }
    </div>
}