@import play.api.Play
@import play.api.Play.current

@()
<footer>
    <div>
        <p>
            <a href="https://github.com/gitlinks/gitrank-web">Contribute on Github</a> -
            @if(Play.configuration.getString("buildNumber").isEmpty) {
                Dev build
            } else {
                Build #@Play.configuration.getString("buildNumber")
            }
            - <a href="https://github.com/gitlinks/gitrank-web/issues">Report issue</a>
        </p>
    </div>
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-68949984-1', 'auto');
            ga('send', 'pageview');
     </script>
</footer>
