@import modules.CustomGitHubProvider
@import models.GitHubRepo

@(gitHubProvider: CustomGitHubProvider, user: Option[models.User], repositories: Seq[GitHubRepo])(implicit request: RequestHeader)

@main("GitRank - Home", gitHubProvider, user) {
    <div class="masthead home">
        <div class="ui container">
            <h1 class="ui header inverted">Welcome to <b>Git</b>Rank</h1>
            <h3 class="ui header inverted">A platform where you can easily feedback and discover open source projects</h3>
            <h4 class="ui header inverted">Click on a project to see its ratings</h4>

            <div class="ui four cards">
                @for(repository <- repositories) {
                    <div class="card">
                        <div class="content">
                            <i class="right floated star icon">@repository.stars</i>
                            <div class="header"><a href="#"> @repository.name</a></div>
                            <div class="meta">
                                Last Updated:
                                <span class="date">@repository.updatedAt.format("MMM DD YY")</span>
                            </div>
                            <div class="description">@repository.description</div>
                        </div>
                        <a href="@{
                            val repoData = repository.name.split("/")
                            routes.ApplicationController.gitHubRepository(repoData(0), repoData(1), None)
                        }" class="ui bottom attached button">
                            <i class="add icon"></i>
                            Give Feedback
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}