@import modules.CustomGitHubProvider

@(gitHubProvider: CustomGitHubProvider, user: Option[models.User] = None)(implicit request: RequestHeader)

<nav class="ui large borderless top menu" style="z-index: 10000"    >
    <div class="ui container" >
        <a href="@routes.ApplicationController.index()" class="link item">
            <b>Git</b>Rank
        </a>
        <div class="ui fluid category search item">

            <div class="ui icon input">
                <input id="goToRepoInput" class="prompt" type="text" placeholder="Search project ...">
                <i id="goToRepoButton" class="search icon"></i>
            </div>
            <div class="results"></div>

        </div>

        <div class="right menu">
            <div class="link item">
                @user.map { u =>
                <a href="https://github.com/@u.username">
                    @if(u.avatarURL.isEmpty) {
                        <img class="ui avatar image" src="https://github.com/identicons/@{u.username}.png">
                    } else {
                        <img class="ui avatar image" src="@u.avatarURL">
                    }
                    @u.fullName
                    <span data-content="Karma" class="popup">
                        <i class="fire icon"></i> @u.karma
                    </span>
                </a>
                }.getOrElse {
                    <a href="@routes.SocialAuthController.authenticate(gitHubProvider.id)" class="ui primary button">
                        <span class="octicon octicon-mark-github"></span> Login
                    </a>
                }
            </div>
        </div>
    </div>
</nav>