@import modules.CustomGitHubProvider

@(gitHubProvider: CustomGitHubProvider, user: Option[models.User] = None)(implicit request: RequestHeader)

<nav class="ui large borderless top menu">
    <div class="ui container">
        <div class="link item">
            <a href="@routes.ApplicationController.index()"><b>Git</b>Rank</a>
        </div>

        <div class="right menu">
            <div class="link item">
                @user.map { u =>
                    <a href="https://github.com/@u.username">
                        <img class="ui avatar image" src="@u.avatarURL">
                        @u.fullName
                    </a>
                }.getOrElse {
                    <a href="@routes.SocialAuthController.authenticate(gitHubProvider.id)" class="ui primary button">
                        <span class="octicon octicon-mark-github"></span> Log in
                    </a>
                }
            </div>
        </div>
    </div>
</nav>