@import modules.CustomGitHubProvider
@import play.api.Play
@import play.api.Play.current

@(
        gitHubProvider: CustomGitHubProvider,
        user: Option[models.User],
        repo: Repository,
        feedback: Seq[Feedback],
        totalPages: Int,
        canAddFeedback: Boolean = false,
        canUpdateFeedback: Boolean = false
        )(owner: String, repositoryName: String, currentPage: Int)(implicit request: RequestHeader)

@main("GitRank - " + owner + "/" + repositoryName, gitHubProvider, user) {


<div class="ui container" >

    <div class="ui clearing">
        <h2 class="ui left floated repository header">
            <i class="mega-octicon octicon-repo"></i>
            <div class="content">
                <a href="https://github.com/@owner">@owner</a>
                /<a href="https://github.com/@owner/@repositoryName">@repositoryName</a>
            </div>
        </h2>
        <h2 class="ui right floated repository header">
            <button id="badgeButton" class="ui secondary button">
                Badges
            </button>
        </h2>
    </div>

    <div class="ui middle aligned grid" style="display: block">
        <div class="divided row" style="min-height: 250px">
        @if(feedback.isEmpty) {
            <div class="ui active dimmer">
                <div class="content">
                    <div class="center">
                        <h2 class="ui inverted header">
                            No registered feedback for this repository, yet
                        </h2>
                        @if(user.isDefined) {
                            @if(canAddFeedback) {
                                <a href="@routes.ApplicationController.giveFeedbackPage(owner, repositoryName)"
                                class="ui primary labeled icon button">

                                    <i class="plus icon"></i>
                                    Add First feedback
                                </a>
                            } else {
                                <p>Our records show that you have contributed to this repository, as such, you cannot add any feedback.</p>
                            }
                        } else {
                            <a href="@routes.SocialAuthController.authenticate(gitHubProvider.id)" class="ui primary button">
                                <span class="octicon octicon-mark-github"></span> Login
                            </a>
                        }
                    </div>
                </div>
            </div>
        } else {

            <div class="thirteen wide column">
                <div id="scoreChart"></div>
            </div>
            <div class="three wide center aligned column">
                <div class="ui statistic">
                    <div class="value">
                        @("%.1f".format(repo.score))/5
                    </div>
                    <div class="label">
                        Score
                    </div>
                </div>
            </div>
        }
        </div>
    </div>

    <div class="ui grid ">
        <div class="ui eight wide column">
            <div class="ui comments feedback">
                <h3 class="ui dividing header">
                    <i class="bullhorn icon"></i>
                    <div class="content">
                        Feedback
                    </div>
                    @if(canAddFeedback) {
                        <a href="@routes.ApplicationController.giveFeedbackPage(owner, repositoryName)" class="ui primary button">
                        @if(canUpdateFeedback) {
                            <i class="plus icon"></i>Update
                        } else {
                            <i class="edit icon"></i>Add
                        }
                        </a>
                    }
                </h3>
                @for(f <- feedback) {
                    <div class="comment">
                        <a class="avatar">
                            <img src="@f.user.avatarURL">
                        </a>
                        <div class="content">
                            <a class="author">@f.user.fullName</a>
                            <div class="metadata">
                                <span data-content="Karma" class="popup"> @f.score.karma <i class="fire icon"></i></span>
                                <span class="date">on @f.score.timestamp.format("dd MMM yyyy") </span>
                            </div>
                            <div class="text"> @f.score.feedback </div>
                            <div class="actions">
                                <span data-content="Documentation" class="popup"> @f.score.docScore <i class="icon book"></i></span>
                                <span data-content="Maturity" class="popup"> @f.score.maturityScore <i class="icon leaf"></i></span>
                                <span data-content="Design" class="popup"> @f.score.designScore <i class="icon university"></i></span>
                                <span data-content="Support" class="popup"> @f.score.supportScore <i class="icon life ring"></i></span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if(totalPages != 0) {
                <div class="align-center">
                    <div class="ui pagination menu">

                        @if(currentPage != 1) {
                            <a
                            href="@routes.ApplicationController.gitHubRepository(owner, repositoryName, Some(currentPage - 1))"
                            class="item">
                                <
                            </a>
                        }

                        @if(currentPage != 1 && currentPage != 2) {
                            <a class="disabled item">
                                ...
                            </a>
                        }

                        @if(currentPage - 1 > 0) {
                            <a href="@routes.ApplicationController.gitHubRepository(owner, repositoryName, Some(currentPage - 1))"
                            class="item">
                            @(currentPage - 1)
                            </a>
                        }

                        @if(totalPages != 0) {
                            <div class="align-left">
                                <div class="ui pagination menu">

                                    <a
                                    href="@routes.ApplicationController.gitHubRepository(owner, repositoryName, Some(currentPage - 1))"
                                    class="@if(currentPage == 1) {disabled} item">
                                        <
                                    </a>

                                    @if(currentPage != 1 && currentPage != 2) {
                                        <a class="disabled item">
                                            ...
                                        </a>
                                    }

                                    @if(currentPage - 1 > 0) {
                                        <a href="@routes.ApplicationController.gitHubRepository(owner, repositoryName, Some(currentPage - 1))"
                                        class="item">
                                        @(currentPage - 1)
                                        </a>
                                    }

                                    <a href="@routes.ApplicationController.gitHubRepository(owner, repositoryName, Some(currentPage))"
                                    class="item">
                                    @currentPage
                                    </a>

                                    @if(currentPage + 1 < totalPages) {
                                        <a href="@routes.ApplicationController.gitHubRepository(owner, repositoryName, Some(currentPage + 1))"
                                        class="item">
                                        @(currentPage + 1)
                                        </a>
                                    }

                                    @if(currentPage != totalPages && currentPage != totalPages - 1) {
                                        <a class="disabled item">
                                            ...
                                        </a>
                                    }

                                    <a href="@routes.ApplicationController.gitHubRepository(owner, repositoryName, Some(currentPage + 1))"
                                    class="@if(currentPage == totalPages) {disabled} item">
                                        >
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            </div>

            <div class="ui eight wide column">
                <div class="ui comments feedback">
                    <h3 class="ui dividing header">
                        <i class="lab icon"></i>
                        <div class="content">
                            Quickstart Guides
                        </div>
                        <a href="@routes.ApplicationController.createGuidePage(owner, repositoryName)" class="ui primary button">
                            <i class="edit icon"></i>Add
                        </a>
                    </h3>
                    <div id="guides">
                        <div class="comment">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="badgeModal" class="ui modal">
        <div class="header">Badges</div>
        <div class="content">
            <a href="@routes.ApplicationController.giveFeedbackPage(owner, repositoryName)">
                <img src="@routes.Assets.at("images/giveFeedbackBadge.svg")">
            </a>
            <div class="ui fluid action input">
                <input type="text" value="[![Give Feedback Badge](http://@Play.configuration.getString("gitrank.domain").getOrElse("localhost:9000")@routes.Assets.at("images/giveFeedbackBadge.svg"))](http://@Play.configuration.getString("gitrank.domain").getOrElse("localhost:9000")@routes.ApplicationController.giveFeedbackPage(owner, repositoryName))">
            </div>
            <br>
            @if(feedback.nonEmpty) {
                <a href="@routes.ApplicationController.gitHubRepository(owner, repositoryName, None)">
                    <img src="@routes.PublicAPIController.getScoreBadge(owner, repositoryName)">
                </a>
                <div class="ui fluid action input">
                    <input type="text" value="[![Give Feedback Badge](http://@Play.configuration.getString("gitrank.domain").getOrElse("localhost:9000")@routes.PublicAPIController.getScoreBadge(owner, repositoryName))](http://@Play.configuration.getString("gitrank.domain").getOrElse("localhost:9000")@routes.ApplicationController.gitHubRepository(owner, repositoryName, None))">
                </div>
            }
        </div>
    </div>
}

<script src="@routes.Assets.at("lib/d3js/d3.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/repository.js")" type="text/javascript"></script>
